In [1]:
#needed to make web requests
import requests

In [2]:
#store the data we get as a dataframe
import pandas as pd

In [3]:
#mathematical operations on lists
import numpy as np

In [4]:
#parse the datetimes we get from NOAA
from datetime import datetime

In [5]:
# File to Load (Remember to Change These)
weather_data_to_load = "Resources/historical_weather.csv"

# Read Weather Data File and store into Pandas DataFrames
weather_data = pd.read_csv(weather_data_to_load)

weather_data["NAME"].unique()

array(['SEATTLE TACOMA AIRPORT, WA US',
       'FORT LAUDERDALE INTERNATIONAL AIRPORT, FL US',
       'LONG BEACH DAUGHERTY AIRPORT, CA US',
       'MCCARRAN INTERNATIONAL AIRPORT, NV US',
       'LAGUARDIA AIRPORT, NY US',
       'NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US',
       'ORLANDO SANFORD AIRPORT, FL US', 'DAL FTW WSCMO AIRPORT, TX US',
       'BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US',
       'WASHINGTON REAGAN NATIONAL AIRPORT, VA US',
       'DALLAS FAA AIRPORT, TX US',
       'LOS ANGELES INTERNATIONAL AIRPORT, CA US',
       'EVERETT SNOHOMISH CO AIRPORT, WA US',
       'SANTA ANA JOHN WAYNE AIRPORT, CA US',
       'MIAMI INTERNATIONAL AIRPORT, FL US',
       'ORLANDO INTERNATIONAL AIRPORT, FL US', 'BOSTON, MA US',
       'SAN FRANCISCO INTERNATIONAL AIRPORT, CA US',
       'CHICAGO MIDWAY AIRPORT, IL US',
       'ONTARIO INTERNATIONAL AIRPORT, CA US',
       'WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US',
       'PROVIDENCE, RI US', 'JFK INTERNATIONAL AIRPORT, NY US',
       'ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US',
       'CHICAGO OHARE INTERNATIONAL AIRPORT, IL US'], dtype=object)

In [6]:
weather_data.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN,WSF5
0,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-01,5.37,0.00,0.0,NaN,40.0,26.0,17.0
1,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-02,6.26,0.00,0.0,NaN,39.0,25.0,17.9
2,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-03,5.59,0.00,0.0,NaN,42.0,27.0,15.0
3,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-04,3.80,0.03,0.0,NaN,38.0,28.0,23.9
4,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-05,4.92,0.12,0.0,NaN,45.0,35.0,15.0

In [7]:
weather_data = weather_data[["NAME", "LATITUDE", "LONGITUDE", "ELEVATION", "DATE", "AWND", "WSF5", "PRCP", "SNOW",
                            "TAVG", "TMAX", "TMIN"]]
# weather_data[["AIRPORT", "LOCATION"]] = weather_data["NAME"].str.split(",", expand=True)
weather_data

,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,WSF5,PRCP,SNOW,TAVG,TMAX,TMIN
0,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-01,5.37,17.0,0.00,0.0,NaN,40.0,26.0
1,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-02,6.26,17.9,0.00,0.0,NaN,39.0,25.0
2,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-03,5.59,15.0,0.00,0.0,NaN,42.0,27.0
3,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-04,3.80,23.9,0.03,0.0,NaN,38.0,28.0
4,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-05,4.92,15.0,0.12,0.0,NaN,45.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...
105316,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,2022-07-12,10.74,31.1,0.00,0.0,77.0,86.0,68.0
105317,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,2022-07-13,10.51,23.0,0.00,0.0,75.0,80.0,64.0
105318,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,2022-07-14,7.61,21.0,0.00,0.0,71.0,80.0,61.0
105319,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,2022-07-15,5.14,23.0,0.82,0.0,69.0,72.0,66.0
105320,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,2022-07-16,NaN,NaN,NaN,NaN,70.0,NaN,NaN

In [8]:
weather_data["NAME"].unique()

array(['SEATTLE TACOMA AIRPORT, WA US',
       'FORT LAUDERDALE INTERNATIONAL AIRPORT, FL US',
       'LONG BEACH DAUGHERTY AIRPORT, CA US',
       'MCCARRAN INTERNATIONAL AIRPORT, NV US',
       'LAGUARDIA AIRPORT, NY US',
       'NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US',
       'ORLANDO SANFORD AIRPORT, FL US', 'DAL FTW WSCMO AIRPORT, TX US',
       'BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US',
       'WASHINGTON REAGAN NATIONAL AIRPORT, VA US',
       'DALLAS FAA AIRPORT, TX US',
       'LOS ANGELES INTERNATIONAL AIRPORT, CA US',
       'EVERETT SNOHOMISH CO AIRPORT, WA US',
       'SANTA ANA JOHN WAYNE AIRPORT, CA US',
       'MIAMI INTERNATIONAL AIRPORT, FL US',
       'ORLANDO INTERNATIONAL AIRPORT, FL US', 'BOSTON, MA US',
       'SAN FRANCISCO INTERNATIONAL AIRPORT, CA US',
       'CHICAGO MIDWAY AIRPORT, IL US',
       'ONTARIO INTERNATIONAL AIRPORT, CA US',
       'WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US',
       'PROVIDENCE, RI US', 'JFK INTERNATIONAL AIRPORT, NY US',
       'ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US',
       'CHICAGO OHARE INTERNATIONAL AIRPORT, IL US'], dtype=object)

In [10]:
weather_data["AIRPORT"] = weather_data["NAME"].str.split(",").str[0]
weather_data.head()

,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,WSF5,PRCP,SNOW,TAVG,TMAX,TMIN,AIRPORT
0,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-01,5.37,17.0,0.00,0.0,NaN,40.0,26.0,SEATTLE TACOMA AIRPORT
1,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-02,6.26,17.9,0.00,0.0,NaN,39.0,25.0,SEATTLE TACOMA AIRPORT
2,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-03,5.59,15.0,0.00,0.0,NaN,42.0,27.0,SEATTLE TACOMA AIRPORT
3,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-04,3.80,23.9,0.03,0.0,NaN,38.0,28.0,SEATTLE TACOMA AIRPORT
4,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-05,4.92,15.0,0.12,0.0,NaN,45.0,35.0,SEATTLE TACOMA AIRPORT

In [11]:
weather_data["NAME"].replace({"SEATTLE TACOMA AIRPORT, WA US":"SEA",
                              "FORT LAUDERDALE INTERNATIONAL AIRPORT, FL US": "FLL",
                              "LONG BEACH DAUGHERTY AIRPORT, CA US":"LGB",
                              "MCCARRAN INTERNATIONAL AIRPORT, NV US":"LAS",
                              "LAGUARDIA AIRPORT, NY US":"LGA",
                              "NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US":"EWR",
                              "ORLANDO SANFORD AIRPORT, FL US":"SFB",
                              "DAL FTW WSCMO AIRPORT, TX US":"DFW",
                              "BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US":"BWI",
                              "WASHINGTON REAGAN NATIONAL AIRPORT, VA US":"DCA",
                              "DALLAS FAA AIRPORT, TX US":"DAL",
                              "LOS ANGELES INTERNATIONAL AIRPORT, CA US":"LAX",
                              "EVERETT SNOHOMISH CO AIRPORT, WA US":"PAE",
                              "SANTA ANA JOHN WAYNE AIRPORT, CA US":"SNA",
                              "MIAMI INTERNATIONAL AIRPORT, FL US":"MIA",
                              "ORLANDO INTERNATIONAL AIRPORT, FL US":"MCO",
                              "BOSTON, MA US":"BOS",
                              "SAN FRANCISCO INTERNATIONAL AIRPORT, CA US":"SFO",
                              "CHICAGO MIDWAY AIRPORT, IL US":"ORD",
                              "ONTARIO INTERNATIONAL AIRPORT, CA US":"ONT",
                              "WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US":"IAD",
                              "PROVIDENCE, RI US":"PVD",
                              "JFK INTERNATIONAL AIRPORT, NY US":"JFK",
                              "ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US":"ATL",
                              "CHICAGO OHARE INTERNATIONAL AIRPORT, IL US":"ORD"
                             }, inplace = True)
weather_data.head()

,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,WSF5,PRCP,SNOW,TAVG,TMAX,TMIN,AIRPORT
0,SEA,47.44467,-122.31442,112.5,2011-01-01,5.37,17.0,0.00,0.0,NaN,40.0,26.0,SEATTLE TACOMA AIRPORT
1,SEA,47.44467,-122.31442,112.5,2011-01-02,6.26,17.9,0.00,0.0,NaN,39.0,25.0,SEATTLE TACOMA AIRPORT
2,SEA,47.44467,-122.31442,112.5,2011-01-03,5.59,15.0,0.00,0.0,NaN,42.0,27.0,SEATTLE TACOMA AIRPORT
3,SEA,47.44467,-122.31442,112.5,2011-01-04,3.80,23.9,0.03,0.0,NaN,38.0,28.0,SEATTLE TACOMA AIRPORT
4,SEA,47.44467,-122.31442,112.5,2011-01-05,4.92,15.0,0.12,0.0,NaN,45.0,35.0,SEATTLE TACOMA AIRPORT

In [12]:
weather_data.rename(columns={"NAME": "AIRPORT CODE"}, inplace=True)
weather_data.head()

,AIRPORT CODE,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,WSF5,PRCP,SNOW,TAVG,TMAX,TMIN,AIRPORT
0,SEA,47.44467,-122.31442,112.5,2011-01-01,5.37,17.0,0.00,0.0,NaN,40.0,26.0,SEATTLE TACOMA AIRPORT
1,SEA,47.44467,-122.31442,112.5,2011-01-02,6.26,17.9,0.00,0.0,NaN,39.0,25.0,SEATTLE TACOMA AIRPORT
2,SEA,47.44467,-122.31442,112.5,2011-01-03,5.59,15.0,0.00,0.0,NaN,42.0,27.0,SEATTLE TACOMA AIRPORT
3,SEA,47.44467,-122.31442,112.5,2011-01-04,3.80,23.9,0.03,0.0,NaN,38.0,28.0,SEATTLE TACOMA AIRPORT
4,SEA,47.44467,-122.31442,112.5,2011-01-05,4.92,15.0,0.12,0.0,NaN,45.0,35.0,SEATTLE TACOMA AIRPORT

In [13]:
weather_data = weather_data[["AIRPORT CODE", "AIRPORT", "LATITUDE", "LONGITUDE", "ELEVATION", "DATE",
                            "AWND", "WSF5", "PRCP", "SNOW", "TAVG", "TMAX", "TMIN"]]
weather_data.head()

,AIRPORT CODE,AIRPORT,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,WSF5,PRCP,SNOW,TAVG,TMAX,TMIN
0,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-01,5.37,17.0,0.00,0.0,NaN,40.0,26.0
1,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-02,6.26,17.9,0.00,0.0,NaN,39.0,25.0
2,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-03,5.59,15.0,0.00,0.0,NaN,42.0,27.0
3,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-04,3.80,23.9,0.03,0.0,NaN,38.0,28.0
4,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-05,4.92,15.0,0.12,0.0,NaN,45.0,35.0

In [14]:
weather_data.rename(columns={"AWND":"Average Wind Speed", "WSF5":"Max Gust Speed",
                                "PRCP":"Precipitation", "SNOW": "Snow Accumulation",
                                "TAVG":"Average Temperature", "TMAX":"Max Temperature",
                                 "TMIN":"Min Temperature"}, inplace=True)
weather_data.head()

,AIRPORT CODE,AIRPORT,LATITUDE,LONGITUDE,ELEVATION,DATE,Average Wind Speed,Max Gust Speed,Precipitation,Snow Accumulation,Average Temperature,Max Temperature,Min Temperature
0,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-01,5.37,17.0,0.00,0.0,NaN,40.0,26.0
1,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-02,6.26,17.9,0.00,0.0,NaN,39.0,25.0
2,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-03,5.59,15.0,0.00,0.0,NaN,42.0,27.0
3,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-04,3.80,23.9,0.03,0.0,NaN,38.0,28.0
4,SEA,SEATTLE TACOMA AIRPORT,47.44467,-122.31442,112.5,2011-01-05,4.92,15.0,0.12,0.0,NaN,45.0,35.0

In [15]:
daily_summary = weather_data.groupby(["DATE", "AIRPORT CODE", "LATITUDE", "LONGITUDE", "ELEVATION"]).mean()
daily_summary

                                                       Average Wind Speed  \
DATE       AIRPORT CODE LATITUDE LONGITUDE  ELEVATION
2011-01-01 ATL          33.62972 -84.44224  308.2                    8.95
           BOS          42.36057 -71.00975  3.2                      6.04
           BWI          39.17329 -76.68408  42.0                     3.80
           DAL          32.83839 -96.83583  147.6                    8.05
           DCA          38.84721 -77.03454  4.1                      7.16
...                                                                   ...
2022-07-16 MIA          25.78805 -80.31694  1.4                       NaN
           ORD          41.96017 -87.93164  204.8                     NaN
           PVD          41.72252 -71.43248  15.4                      NaN
           SEA          47.44467 -122.31442 112.5                     NaN
           SFO          37.61962 -122.36562 3.2                       NaN

                                                       Max Gust Speed  \
DATE       AIRPORT CODE LATITUDE LONGITUDE  ELEVATION
2011-01-01 ATL          33.62972 -84.44224  308.2                28.0
           BOS          42.36057 -71.00975  3.2                  17.9
           BWI          39.17329 -76.68408  42.0                 21.9
           DAL          32.83839 -96.83583  147.6                23.9
           DCA          38.84721 -77.03454  4.1                  21.0
...                                                               ...
2022-07-16 MIA          25.78805 -80.31694  1.4                   NaN
           ORD          41.96017 -87.93164  204.8                 NaN
           PVD          41.72252 -71.43248  15.4                  NaN
           SEA          47.44467 -122.31442 112.5                 NaN
           SFO          37.61962 -122.36562 3.2                   NaN

                                                       Precipitation  \
DATE       AIRPORT CODE LATITUDE LONGITUDE  ELEVATION
2011-01-01 ATL          33.62972 -84.44224  308.2               0.93
           BOS          42.36057 -71.00975  3.2                 0.00
           BWI          39.17329 -76.68408  42.0                0.00
           DAL          32.83839 -96.83583  147.6               0.00
           DCA          38.84721 -77.03454  4.1                 0.01
...                                                              ...
2022-07-16 MIA          25.78805 -80.31694  1.4                  NaN
           ORD          41.96017 -87.93164  204.8                NaN
           PVD          41.72252 -71.43248  15.4                 NaN
           SEA          47.44467 -122.31442 112.5                NaN
           SFO          37.61962 -122.36562 3.2                  NaN

                                                       Snow Accumulation  \
DATE       AIRPORT CODE LATITUDE LONGITUDE  ELEVATION
2011-01-01 ATL          33.62972 -84.44224  308.2                    0.0
           BOS          42.36057 -71.00975  3.2                      0.0
           BWI          39.17329 -76.68408  42.0                     0.0
           DAL          32.83839 -96.83583  147.6                    0.0
           DCA          38.84721 -77.03454  4.1                      0.0
...                                                                  ...
2022-07-16 MIA          25.78805 -80.31694  1.4                      NaN
           ORD          41.96017 -87.93164  204.8                    NaN
           PVD          41.72252 -71.43248  15.4                     NaN
           SEA          47.44467 -122.31442 112.5                    NaN
           SFO          37.61962 -122.36562 3.2                      NaN

                                                       Average Temperature  \
DATE       AIRPORT CODE LATITUDE LONGITUDE  ELEVATION
2011-01-01 ATL          33.62972 -84.44224  308.2                      NaN
           BOS          42.36057 -71.00975  3.2                        NaN
           BWI          39.17329 -76.68408  42.0                       NaN
           DAL          32.83839 -96.83583  147.6                      NaN
           DCA          38.84721 -77.03454  4.1                        NaN
...                                                                    ...
2022-07-16 MIA          25.78805 -80.31694  1.4                       80.0
           ORD          41.96017 -87.93164  204.8                     70.0
           PVD          41.72252 -71.43248  15.4                      67.0
           SEA          47.44467 -122.31442 112.5                     68.0
           SFO          37.61962 -122.36562 3.2                       58.0

                                                       Max Temperature  \
DATE       AIRPORT CODE LATITUDE LONGITUDE  ELEVATION
2011-01-01 ATL          33.62972 -84.44224  308.2                 62.0
           BOS          42.36057 -71.00975  3.2                   56.0
           BWI          39.17329 -76.68408  42.0                  59.0
           DAL          32.83839 -96.83583  147.6                 44.0
           DCA          38.84721 -77.03454  4.1                   58.0
...                                                                ...
2022-07-16 MIA          25.78805 -80.31694  1.4                    NaN
           ORD          41.96017 -87.93164  204.8                  NaN
           PVD          41.72252 -71.43248  15.4                   NaN
           SEA          47.44467 -122.31442 112.5                  NaN
           SFO          37.61962 -122.36562 3.2                    NaN

                                                       Min Temperature
DATE       AIRPORT CODE LATITUDE LONGITUDE  ELEVATION
2011-01-01 ATL          33.62972 -84.44224  308.2                 55.0
           BOS          42.36057 -71.00975  3.2                   35.0
           BWI          39.17329 -76.68408  42.0                  29.0
           DAL          32.83839 -96.83583  147.6                 31.0
           DCA          38.84721 -77.03454  4.1                   34.0
...                                                                ...
2022-07-16 MIA          25.78805 -80.31694  1.4                    NaN
           ORD          41.96017 -87.93164  204.8                  NaN
           PVD          41.72252 -71.43248  15.4                   NaN
           SEA          47.44467 -122.31442 112.5                  NaN
           SFO          37.61962 -122.36562 3.2                    NaN

[105321 rows x 7 columns]